[Unit]
Description=Magic Mirror Autostart
Requires=multi-user.target
Requires=graphical.target
Requires=docker.service

[Service]
Type=idle
Environment="DISPLAY=:0"
User=pi
ExecStart=/home/pi/MagicController/setup/autostart.sh
Restart=on-abort
RestartSec=1

[Install]
WantedBy=multi-user.target
