[Unit]
Description=Magic Mirror
After=network.target dockerd.service multi-user.target grafical.target
StartLimitIntervalSec=0

[Service]
Environment="DISPLAY=:0"
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/sh /home/pi/MagicController/setup/autostart.sh

[Install]
WantedBy=multi-user.target
