[Unit]
Description=Magic Mirror Autostart
Requires=graphical.target docker.service
After=graphical.target docker.service

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/home/pi/MagicController/setup/autostart.sh
Restart=on-abort
RestartSec=1
User=pi
Group=pi

[Install]
WantedBy=default.target graphical.target
